
$primary-blue: #106ba3;

.about-page-container {
    line-height: 1.5;
    min-width: 900px;
    a {
        color: #106ba3;
    }
}

.about-page-link, .about-page-link:visited {
    color: $primary-blue;
}

.about-page-bullets li {
    padding-top: 5px;
    padding-bottom: 5px;
    &:first-child {
        padding-top: 0px;
    }
}

.about-item-container {
    display: flex;
    align-items: center;
    padding-right: 20px;
    .about-item-icon-container {
        width: 100px;
        text-align: center;
        img {
            max-height: 80px;
        }
    }
    .about-item-caption {
        width: 70%;
        padding-left: 10px
    }
}

.download-page-container {
    line-height: 1.5;
}

.inline-svg {
    display: inline-flex;
    position: relative;
    top: .1em;
    width: .9em;
    height: .9em;
    fill: currentColor;
}


code {
    padding: 2px 4px;
    font-size: 85%;
    color: #24292e;
    background-color: #1b1f230d;
    border-radius: 4px;
}

pre {
    font-family: Consolas, monaco, monospace;
    font-size: 85%;
    display: block;
    padding: 10px;
    margin: 20px 0;
    line-height: 125%;
    word-wrap: break-word;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid rgba(0,0,0,0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.howto-lightbox-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(16,22,26,0.7);
    opacity: 1;
    img {
        max-width: 1000px;
    }
}
